<ul class="sg-colors">
<!--
"colors" : {
	"color-primary--dark": { "name": "color-primary--dark", "hex": "#0c4269" },
	"color-primary--mid": { "name": "color-primary--mid", "hex": "#087ba4" },
	"color-primary--bright": { "name": "color-primary--bright", "hex": "#00b3e7" },
	"color-secondary--dark": { "name": "color-secondary--dark", "hex": "#383838" },
	"color-secondary--mid": { "name": "color-secondary--mid", "hex": "#939393" },
	"color-secondary--bright":{ "name": "color-secondary--bright", "hex": "#999999" } ,
	"color-neutral": { "name": "color-neutral", "hex": "#f4f5f9" },
	"color-neutral--dark": { "name": "color-neutral--dark", "hex": "#d1d4e1" },
	"color-alert": { "name": "color-alert", "hex": "#e6462c" },
	"color-white": { "name": "color-white", "hex": "#ffffff" }
},
-->
	<li>
		<span class="sg-swatch {{ colors.color-primary--dark.name }}" title="{{ colors.color-primary--dark.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-primary--dark.hex }}">{{ colors.color-primary--dark.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-primary--mid.name }}" title="{{ colors.color-primary--mid.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-primary--mid.hex }}">{{ colors.color-primary--mid.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-primary--bright.name }}" title="{{ colors.color-primary--bright.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-primary--bright.hex }}">{{ colors.color-primary--bright.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-secondary--dark.name }}" title="{{ colors.color-secondary--dark.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-secondary--dark.hex }}">{{ colors.color-secondary--dark.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-secondary--mid.name }}" title="{{ colors.color-secondary--mid.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-secondary--mid.hex }}">{{ colors.color-secondary--mid.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-secondary--bright.name }}" title="{{ colors.color-secondary--bright.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-secondary--bright.hex }}">{{ colors.color-secondary--bright.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-neutral.name }}" title="{{ colors.color-neutral.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-neutral.hex }}">{{ colors.color-neutral.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-neutral--dark.name }}" title="{{ colors.color-neutral--dark.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-neutral--dark.hex }}">{{ colors.color-neutral--dark.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-alert.name }}" title="{{ colors.color-alert.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-alert.hex }}">{{ colors.color-alert.name }}</span>
	</li>
	<li>
		<span class="sg-swatch {{ colors.color-white.name }}" title="{{ colors.color-white.hex }}"></span>
		<span class="sg-label" title="{{ colors.color-white.hex }}">{{ colors.color-white.name }}</span>
	</li>
</ul>
